[GENERAL]
max-line-length = 150
[MASTER]
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    multiple-statements,
    too-many-lines,
    too-many-statements,
    too-many-instance-attributes,
    too-many-locals,
    too-many-arguments,
    too-many-positional-arguments,
    too-few-public-methods,
    no-else-return,
    no-else-raise